@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
main {
  background-color: #fcf3db;
  font-family: "Quicksand", sans-serif;

  & h3 {
    font-size: 40px;
    color: #d3aa81;
    font-weight: 800;
  }

  & .card-paquetes {
    margin: 0px;
    border: none;
    height: 100%;

    & .img-card {
      height: 200px;
      width: 180px;
      object-fit: cover;
    }
  }
}
@media (width < 768px) {
  main {
    & .img-card {
      height: 300px;
      width: 300px;
      object-fit: contain !important;
    }
  }
}

@media (width < 577px) {
  main {
    font-size: 15px;

    & h3 {
      font-size: 20px;
    }

    & .img-card {
      height: 300px;
      width: 250px;
      object-fit: cover;
    }
  }
}
