@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.card-paquetes {
    margin: 0px;
    border: none;
    height: 100%;
}

    & .img-card {
      height: 200px;
      width: 180px;
      object-fit: cover;
    }
  

@media (width < 768px) {
  main {
    & .img-card {
      height: 300px;
      width: 300px;
      object-fit: contain !important;
    }
  }
}

@media (width < 577px) {
  main {
   .img-card {
    height: 300px;
    width: 300px;
    object-fit: cover;
    }
  }
}
