:root {
  --color-fondo: #00050d;
  --color-hoverHeader: #191e25;
  --color-Textos: #ffffff;
  --color-hoverTextos: #aaaaaa;
  --color-primeAzul: #1a98ff;
  --color-linksAzules: #90dffe;
  --color-botonForm: #ffd814;
  --color-hoverBotonForm: #eec911;
  --color-linksForm: #c45500;
}

body {
  background-color: var(--color-fondo);
}

header {
  .navbar-inicio {
    background-color: var(--color-fondo);
    height: 50px;
  }

  .boton-menu {
    font-size: 1.1rem;
    &:focus,
    :active {
      outline: none;
      box-shadow: none;
    }
    color: var(--color-Textos);
  }

  .navbar-brand {
    .logo-navbar {
      width: 96px;
    }
  }

  .boton-busqueda {
    color: var(--color-hoverTextos);
    background-color: transparent;
    border: none;

    &:hover {
      color: var(--color-Textos);
    }

    &:focus,
    :active {
      outline: none;
      box-shadow: none;
    }
  }

  .boton-usuario {
    background-color: var(--color-fondo);
    img {
      width: 30px;
      transition: all 0.1s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }

    &:focus,
    :active {
      outline: none;
      box-shadow: none;
    }
  }

  .menu-desplegable {
    background-color: var(--color-fondo);
    color: var(--color-Textos);

    a {
      color: var(--color-Textos);
      &::after {
        color: var(--color-hoverTextos);
      }
      &:hover {
        color: var(--color-hoverTextos);
      }
      &:focus,
      :active {
        color: inherit;
      }
    }
  }

  .navbar-grande {
    a {
      text-decoration: none;
      color: var(--color-hoverTextos);
      font-size: 1.1rem;
      margin: 0 15px;

      &:hover {
        color: var(--color-Textos);
      }

      &.active {
        color: var(--color-Textos);
      }
    }
  }
}

.links-footer {
  font-size: 13px;
  img {
    width: 130px;
  }
  a {
    text-decoration: none;
    color: var(--color-linksAzules);
  }
}

#offcanvasBusqueda {
  height: 100vh;
  background-color: var(--color-fondo);
  .header-buscador {
    height: 30px;
    margin-top: 5px;
  }
}

.input-busqueda {
  background-color: transparent;
  color: var(--color-Textos);
  font-weight: bold;
  border: solid;
  width: 100%;
  border-radius: 0.5rem;

  &:focus,
  :active {
    outline: none;
    box-shadow: none;
  }
}

.boton-formulario {
  border-radius: 0.5rem;
  color: var(--color-Textos);
  background-color: transparent;
  border: solid;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: var(--color-primeAzul);
    border-color: var(--color-primeAzul);
  }
}

@media (width < 880px) {
  .navbar-grande {
    display: none;
  }
}

@media (width >= 880px) {
  .contenedor-boton-menu {
    display: none;
  }

  .contenido-navbar {
    width: 80%;
  }
}

@media (width >= 992px) {
  .contenido-navbar {
    width: 70%;
  }
}

@media (width >= 1200px) {
  .contenido-navbar {
    width: 60%;
  }
}
