.palabra-prime {
  color: var(--color-primeAzul);
}

.seccion-categorias {
  color: var(--color-Textos);
}

.lanzamientos,
.peliculas-contenedor {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    color: #ffffff;
    border: none;

    &:hover {
      transform: scale(1.2);
      height: auto;
    }
  }

  .card:hover .card-content {
    display: block;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .card-content {
    padding: 16px;
    background-color: rgb(4, 1, 13);
    border-radius: 0 0 10px 10px;
    display: none;
  }

  .reproduccion {
    a {
      text-decoration: none;
      color: var(--color-Textos);
      display: flex;
      align-items: center;
    }

    

    .fa-circle-play {
      color: #ffffff;
      font-size: 40px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.15);
      }
    }

    .fa-plus,
    .fa-circle-info {
      color: #ffffff;
      font-size: 20px;
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 100%;
      background-color: transparent;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        color: #000000;
        background-color: #ffffff;
      }
    }
  }
}

.pelicula-destacada {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .card {
    width: 400px;
    border: none;
    background-color: transparent;
    top: 100px;
    left: 30px;
  }

  .reproduccion {
    a {
      text-decoration: none;
      color: var(--color-Textos);
      display: flex;
      align-items: center;
    }

    .fa-circle-play {
      color: #ffffff;
      font-size: 40px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.15);
      }
    }

    .fa-plus,
    .fa-circle-info {
      color: #ffffff;
      font-size: 20px;
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 100%;
      background-color: transparent;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        color: #000000;
        background-color: #ffffff;
      }
    }
  }
}

@media (width >= 768px) {
  .pelicula-destacada {
    img {
      height: 500px;
    }
    .card {
      top: 200px;
      left: 70px;
    }

    h5 {
      font-size: 3rem;
    }

    h6 {
      font-size: 1.5rem;
    }

    .reproduccion {
      a{
        font-size: 1.5rem;
      }
      .fa-circle-play {
        font-size: 70px;
      }
      .fa-plus,
      .fa-circle-info {
        font-size: 40px;
      }
    }
  }
}
